requests
beautifulsoup4
tweepy
pandas
nltk
transformers
scikit-learn
gensim
flask
django
react
plotly
matplotlib
langchain
openai
newspaper3k
lxml
lxml_html_clean
torch
python-dotenv
yfinance
pandas_ta
autogen-agentchat==0.4.0dev1
